{% extends "index.html"%}

{%block content %}
<div class="container mt-5 text-center">
    <h1 style="font-family: 'Pacifico', cursive;">Acerca de:</h1>
    <p class="mt-3" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
        En esta página encontrarás información sobre mi:
    </p>
    <ul class="list-unstyled" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
        <li>"Hobbies" — He tenido varios hobbies a lo largo de los años como: Cocinar, Hornear, Tocar la guitarra, Tejer, Fotografia, Origami, etc.</li>
        <li>"Carrera" — Actualmente solo he tenido en mente seguir estudiando Programacion ya que es la que mas me ha llamado la atencion</li>
        <li>"Planes" — Mis metas son lograr tener una vida plena, con buena estabilidad economica y mental llegando a lograr lo que quiero ser</li>
    </ul>

    <p class="mt-3" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
        Andres Cruz Karla Michelle 5°D
    </p>

</div>
{%endblock%}