{% extends "index.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center mb-4" style="font-family: 'Pacifico', system-ui;">
        Vehículos Antiguos
    </h1>

    <p class="text-center mx-auto" style="font-family: 'Indie Flower', system-ui; font-size: 20px; max-width: 800px;">
        La historia del automóvil comenzó en el siglo XIX con los primeros motores
        de combustión interna. Ingenieros como Karl Benz, Gottlieb Daimler y Henry
        Ford revolucionaron el transporte, pasando de carruajes sin caballos a
        máquinas motorizadas capaces de recorrer grandes distancias. Con el tiempo,
        los vehículos se convirtieron en un símbolo de progreso, libertad y
        modernidad, marcando una nueva era en la movilidad humana.
    </p>

    <div class="row mt-5">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow h-100">
                <img src="{{ url_for('static', filename='img/ford.webp') }}" alt="Ford Model T">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Pacifico', system-ui; font-size: 25px">Ford Model T
                        (1908)</h5>
                    <p class="card-text" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
                        El Modelo T se presentó al mundo en 1908. Henry Ford quería que el Modelo T fuera asequible,
                        fácil de operar y duradero. El vehículo fue uno de los primeros vehículos de producción en masa,
                        lo que permitió a Ford lograr su objetivo de fabricar el automóvil universal. El Modelo T se
                        fabricó en la línea de ensamblaje móvil de Ford Motor Company en la revolucionaria planta
                        Highland Park de Ford. Debido a la producción en masa del vehículo, Ford Motor Company pudo
                        vender el vehículo por entre $ 260 y $ 850, ya que Henry Ford transfirió los ahorros de
                        producción a sus clientes.
                        El Modelo T fue probado por primera vez por el propio Henry Ford, quien llevó el vehículo a un
                        viaje de caza a Wisconsin y al norte de Michigan. El Modelo T se hizo famoso por las acrobacias
                        que podía realizar, incluida la subida de las escaleras del Capitolio del Estado de Tennessee y
                        llegar a la cima de Pikes Peak. Después de la prueba de su propio producto, el vehículo fue
                        enviado a su primer cliente el 1 de octubre de 1908.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow h-100">
                <img src="{{ url_for('static', filename='img/mercedes.jpg') }}" alt="Mercedes-Benz 300SL">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Pacifico', system-ui; font-size: 25px">Mercedes-Benz
                        300SL (1954)</h5>
                    <p class="card-text" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
                        El Mercedes-Benz 300SL, presentado en 1954, fue el primer automóvil de producción con inyección
                        directa de combustible y el más rápido de su época, alcanzando hasta 250 km/h.
                        Su chasis tubular ultraligero inspiró las icónicas puertas tipo “alas de gaviota”, que lo
                        convirtieron en una leyenda del diseño. Nació a partir de un auto de carreras y combinó lujo,
                        innovación y velocidad como ningún otro.
                        Solo se produjeron 1,400 unidades, y hoy es uno de los autos clásicos más valiosos del mundo,
                        símbolo del renacer y la excelencia de Mercedes-Benz.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow h-100">
                <img src="{{ url_for('static', filename='img/chevrolet.jpg') }}" alt="Chevrolet Bel Air">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Pacifico', system-ui; font-size: 25px">Chevrolet Bel Air
                        (1957)</h5>
                    <p class="card-text" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
                        El Chevrolet Bel Air es un automóvil de turismo producido en serie por el fabricante Chevrolet,
                        una división de la General Motors entre 1949 y 1980. De 1950 a 1952, los coches de lujo de la
                        marca eran llamados Bel Air, aunque todavía no era el nombre oficial, utilizado recién a partir
                        de 1953. Esta serie continuó produciéndose en Canadá desde 1981.
                        Los primeros modelos de esta época solamente compartían su chapa frontal por delante del pilar A
                        con el resto de la gama. El parabrisas, las puertas, el vidrio y la cajuela eran comunes con el
                        Styline DeLuxe Coupé. Sin embargo, el techo, los cuartos traseros y las tres ventanas traseras
                        eran únicos. El chasis y la mecánica eran comunes con el resto de la gama de vehículos de
                        pasajeros y el aspecto general era el mismo que el resto de la gama, excepto que la línea del
                        techo era más baja y la ventana trasera única de tres piezas le daba un mayor y más equilibrado
                        aspecto. Los primeros Bel Air solamente estaban disponibles con el nivel de equipamiento y la
                        especificación "DeLuxe".
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 mx-auto">
            <div class="card shadow h-100">
                <img src="{{ url_for('static', filename='img/volkswagen.webp') }}" alt="Volkswagen Beetle">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Pacifico', system-ui; font-size: 25px">Volkswagen Beetle
                        (1938)</h5>
                    <p class="card-text" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
                        El Volkswagen "Tipo 1" es un popular automóvil del segmento B producido por el fabricante alemán
                        Volkswagen entre 1938 y 2003, convirtiéndose en uno de los automóviles más populares del mundo.
                        Fue comercializado por la marca con nombres como Sedan o Fusca, habiendo adoptado posteriormente
                        el nombre popular Escarabajo debido a su forma (también Beetle y Käfer, las traducciones del
                        nombre en inglés y alemán, a veces usadas en algunos mercados de habla hispana). También recibió
                        otros nombres populares, como Vocho en México, entre otros nombres.
                        Es uno de los autos más famosos de todos los tiempos y un favorito por los conductores de todo
                        el mundo, debido a su economía de mantenimiento, aunque en el apartado del consumo de
                        combustible otros coches del mismo segmento obtenían mejor resultado.
                        Técnicamente, el Volkswagen Tipo 1 es un automóvil de bajo costo. Producido por el fabricante
                        alemán Volkswagen entre los años 1938 y 1978 en Alemania, continuando su fabricación en México
                        hasta 2003, siendo el automóvil con más tiempo de producción en la historia. Fue el primer
                        automóvil de la marca y se construyeron y vendieron más de veintiún millones de unidades.[1]​
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 mx-auto">
            <div class="card shadow h-100">
                <img src="{{ url_for('static', filename='img/roll.jpeg') }}" alt="Rolls-Royce Silver Ghost">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Pacifico', system-ui; font-size: 25px">Rolls-Royce
                        Silver Ghost (1907)</h5>
                    <p class="card-text" style="font-family: 'Indie Flower', system-ui; font-size: 18px;">
                        El Rolls-Royce Silver Ghost se refiere tanto a un modelo de coche como a un coche específico de
                        la serie.
                        Originalmente denominado "40/50 h.p." el chasis fue en un principio producido en la factoría de
                        Royce en Mánchester, trasladándose la producción a Derby en julio de 1908, y también, entre 1921
                        y 1926, a Springfield, Massachusetts, EE. UU. El chasis n.º 60551, con matrícula AX 201, fue el
                        coche al que originalmente se le dio el nombre de "Silver Ghost." Otros 40/50 hp también
                        recibieron nombre propio, pero el título de Silver Ghost fue adoptado por la prensa, y pronto
                        todos los 40/50 fueron llamados por ese nombre, un hecho no reconocido oficialmente por
                        Rolls-Royce hasta 1925, cuando fue lanzada la gama de los Phantom.
                        El Silver Ghost fue el origen de la proclamación de Rolls-Royce de fabricar "El mejor coche del
                        mundo" - una frase no acuñada por ellos mismos, sino por la prestigiosa publicación Autocar en
                        1907.
                        El chasis y el motor fueron también la base de una serie de automóviles blindados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}