<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Mejor Pagina Web</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body class="p-3 mb-2 text-secondary-emphasis" style="background-color: #F8E8EE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form id="registrationForm" method="post" action="/registrame" class="rounded p-4 mt-5" style="background-color: #FDCEDF;">
                    <h1 class="text-center" style="font-family: 'Lobster', system-ui; font-size: 40px;">Crea una cuenta
                    </h1>
                    <hr>
                    <div class="container mt-4">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ 'danger' if category == 'error' else 'danger'}} alert-dismissible-fade-show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="firstName" name="nombre" placeholder="Nombre(s)"
                                style="font-family: 'Caveat', system-ui; font-size: 20px" required minlength="3" maxlength="100" value = "{{ request.form.get("nombre",'')}}">
                        </div>
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="lastName" name="apellido" placeholder="Apellido(s)"
                                style="font-family: 'Caveat', system-ui; font-size: 20px" required minlength="3" maxlength="100" value = "{{ request.form.get("apellido",'')}}">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="diaN" class="form-label"
                            style="font-family: 'Pacifico', system-ui; font-size: 18px;">Fecha de nacimiento</label>
                        <div class="col">
                            <select class="form-select" id="birthDay" name="dia" required
                            style="font-family: 'Caveat', system-ui; font-size: 20px">
                                <option value="">Día</option>
                                    {% for dia in dias %}
                                <option value="{{ dia }}" {% if request.form.get("dia") == dia %} selected {% endif %}>{{ dia }}</option>
                                    {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <select class="form-select" id="mesN" name="mes" required
                            style="font-family: 'Caveat', system-ui; font-size: 20px">
                                <option value="">Mes</option>
                                    {% for mes in meses %}
                                <option value="{{ mes }}" {% if request.form.get("mes") == mes %} selected {% endif %}>{{ mes }}</option>
                                    {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <select class="form-select" id="añoN" name="año" required
                            style="font-family: 'Caveat', system-ui; font-size: 20px">
                                <option value="">Año</option>
                                    {% for año in años %}
                                <option value="{{ año }}" {% if request.form.get("año") == año %} selected {% endif %}>{{ año }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="gender" class="form-label"
                            style="font-family: 'Pacifico', system-ui; font-size: 18px;">Género</label>
                        <div class="d-flex justify-content-between mb-3">
                            <select class = "form-select rounded-pill" id="genero" name="genero" required
                            style="font-family: 'Caveat', system-ui; font-size: 20px">
                                <option value="" disable selected>Selecciona una opción</option>
                                <option value="masculino" {% if request.form.get("genero") == "masculino" %} selected {% endif %}>Hombre</option>
                                <option value="femenino" {% if request.form.get("genero") == "femenino" %} selected {% endif %}>Mujer</option>
                                <option value="otro" {% if request.form.get("genero") == "otro" %} select {% endif%}>Otro</option>
                                <option value="prefinodecir" {% if request.form.get("genero") == "prefinodecir" %} select {% endif%}>Prefiero no decirlo</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Correo electrónico"
                            style="font-family: 'Caveat', system-ui; font-size: 20px" required
                            pattern= "[a-z0-9._%+-]+@[a^z0-9.-]+\,[a-z]{2,}$"
                            value= "{{request.form.get("email",'')}}">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="contraseña" placeholder="Contraseña nueva"
                            style="font-family: 'Caveat', system-ui; font-size: 20px" required minlength="8" maxlength="25">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="confirPassword" name="confirmaContraseña" placeholder="Confirma tu contraseña"
                            style="font-family: 'Caveat', system-ui; font-size: 20px" required minlength="8" maxlength="25">
                    </div>
                    <button type="submit" class="btn btn-light w-100"
                        style="font-family: 'Pacifico', system-ui; font-size: 18px">Registrame</button>
                    <hr>
                    <p class="text-center">
                        <a href="http://127.0.0.1:5000/inicioSesión" class="text-black text-decoration-none"
                            style="font-family: 'Pacifico', system-ui; font-size: 18px">¿Ya tienes una cuenta?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
