{% extends "index.html" %} {% block content %}


<body class="p-3 mb-2 text-secondary-emphasis" style="background-color: #F8E8EE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form id="registrationForm" method="post" action="/registrame" class="rounded p-4 mt-5" style="background-color: #FDCEDF;">
                    <h1 class="text-center" style="font-family: 'Lobster', system-ui; font-size: 40px;">Crea una cuenta
                    </h1>
                    <hr>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="firstName" name="nombre" placeholder="Nombre(s)"
                                style="font-family: 'Caveat', system-ui; font-size: 20px" required minlength="3" maxlength="100" value = "{{ request.form.get('nombre','')}}">
                        </div>
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="lastName" name="apellido" placeholder="Apellido(s)"
                                style="font-family: 'Caveat', system-ui; font-size: 20px" required minlength="3" maxlength="100" value = "{{ request.form.get('apellido','')}}">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="diaN" class="form-label"
                            style="font-family: 'Pacifico', system-ui; font-size: 18px;">Fecha de nacimiento</label>
                        <div class="col">
                            <select class="form-select" id="birthDay"
                                style="font-family: 'Caveat', system-ui; font-size: 20px" required>
                                <option value="">Dia</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" id="mesN"
                                style="font-family: 'Caveat', system-ui; font-size: 20px" required>
                                <option value="">Mes</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" id="añoN"
                                style="font-family: 'Caveat', system-ui; font-size: 20px" required>
                                <option value="">Año</option>
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="gender" class="form-label"
                            style="font-family: 'Pacifico', system-ui; font-size: 18px;">Género</label>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="border border-light-subtle rounded p-2" style="background-color: white;">
                                <div class="form-check flex-fill me-2">
                                    <input class="form-check-input" type="radio" name="genero" id="female"
                                        value="female" required>
                                    <label class="form-check-label w-100 text-center text-dark"
                                        for="female">Mujer</label>
                                </div>
                            </span>
                            <span class="border border-light-subtle rounded p-2" style="background-color: white;">
                                <div class="form-check flex-fill me-2">
                                    <input class="form-check-input" type="radio" name="genero" id="male" value="male">
                                    <label class="form-check-label w-100 text-center text-dark"
                                        for="male">Hombre</label>
                                </div>
                            </span>
                            <span class="border border-light-subtle rounded p-2" style="background-color: white;">
                                <div class="form-check flex-fill me-2">
                                    <input class="form-check-input" type="radio" name="genero" id="custom"
                                        value="custom">
                                    <label class="form-check-label w-100 text-center text-dark"
                                        for="custom">Personalizado</label>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Número de celular o correo electrónico"
                            style="font-family: 'Caveat', system-ui; font-size: 20px" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="contraseña" placeholder="Contraseña nueva"
                            style="font-family: 'Caveat', system-ui; font-size: 20px" required minlength="8" maxlength="25">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="confirPassword" name="confirmaContraseña" placeholder="Confirma tu contraseña"
                            style="font-family: 'Caveat', system-ui; font-size: 20px" required required minlength="8" maxlength="25">
                    </div>
                    <button type="submit" class="btn btn-light w-100"
                        style="font-family: 'Pacifico', system-ui; font-size: 18px">Inicia Sesión</button>
                    <hr>
                    <p class="text-center">
                        <a href="http://127.0.0.1:5000/inicioSesión" class="text-black text-decoration-none"
                            style="font-family: 'Pacifico', system-ui; font-size: 18px">¿Ya tienes una cuenta?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
